# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# Results
results/*.png

# Downloaded raw data files
data/

# OS
.DS_Store
Thumbs.db
